body {
  font-size: 16px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

article {
  /* border: 1px solid green; */
  padding: 0 1.3rem;
}

p, code {
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  margin-bottom: 2rem;
}