body {
  font-size: 16px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

article {
  /* border: 1px solid green; */
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.3rem;
}

p, code {
  font-size: 1rem;
}
